body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #777777;
    line-height: 26px;
}

.page {

    width: 100%;
    height: 100vh;
    background-image: url("./image/gradient-dark.jpg");
    background-position: center;
    background-size: cover;
}

.text {
    padding: 10px;
}

.coloring_text {
    color: #8845f4;
}

.content {
    width: 50%;
    float: left;
    
}
.btn {
    color: white;
    background-color: #8845f4;
    padding: 13px 42px;
    border-radius: 20px;
    text-decoration: none;
}

.photo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}

@media only screen and (max-width: 480px) {
    .content {
        width: 100%; /*Make content divs full screen */
        float: none; /*float none */
        margin-bottom: 50px; /*Add space between content divs */
    }
}